.add-img{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: #A3A3A3;
    /* box-shadow: 1px 1px 2px #545454; */
    border: solid #84644D 2px;
    height: 15vh;
    width: 17vw;
    border-radius: 10px;
    padding: 10px;
    background-color: #F5F5F5;
    margin-bottom: 30px;
}